.caption
{
    font-family: 'Satisfy', cursive;
}
.subcaption
{
    font-family: 'Shadows Into Light', cursive;
}
.cap1{
    font-family: 'Ubuntu', sans-serif;
}
.listen
{
    background-color: black;
    border-radius: 10px 10px 10px 10px;  
}
a{
    color:white;
}
.pic
{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}